@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

pre {
	font-family: "Syne Mono", "Courier New", Consolas;
	font-size: 14px;
    background: #efefef;
	color: #000;
	padding: 10px;
    border-radius: 8px;
}

k3 {
	font-size: 14pt;
	font-weight: bold;
}

name {
	font-weight: bold;
	color: #0072BB;
}

code {
	font-family: "Syne Mono", "Courier New", Consolas;
	font-size: 13px;
	background: rgb( 255, 255, 220 );
    color: rgb(10,10,10);
	padding: 5px;
	border-radius: 2px;
}

c {
	font-weight: bold;
	color: #747274;
}

r {
	color: #E75A7C;
	font-weight: bold;
}

v {
    color: #7E3F8F;
    font-weight: bold;
}
