/*@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');*/
@font-face {
    font-family: 'myfont';
    src: url('/static/gavali.ttf')  format('truetype');
}

html { overflow-y: scroll; }

div#ContentBody {    
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 35px;
    font-size: 16px;
}

pre {
    line-height: 18px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-x: auto;
}

div#menubar {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    ;ackground-image: linear-gradient(to bottom right, #EFEFF0, #FEEFDD);
    border-bottom-width: 1px;
    border-bottom-color: #aaa;
    order-bottom-style: dashed;
    border-bottom-style: solid;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    --webkit-text-size-adjust: 100%;
}

logo-left {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    --webkit-text-size-adjust: 100%;
    adding: 0px 5px 0px 10px;
    order: #fff 2px SOLID;
}
logo-right {
    color:#A31621;
    color: #F7C548;
    font-size: 24px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    --webkit-text-size-adjust: 100%;
    padding: 0px 0px 0px 0px;
    order: #fff 2px SOLID;
    ackground: #fff;
}

k3 {
    display: block;
}

h2, k3 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #2C365E;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    --webkit-text-size-adjust: 100%;
}

h4 {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 350;
    margin-top: 5px;
    margin-bottom: 0px;
}

table#menu {
    width:800px;
    order:0px;
    height: 46px;
}

div#bodyTopic {
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 600px;
}

table {
    border-spacing: 0pt;
}

.head td {
    border-bottom: #888 1px SOLID;
    padding: 2pt;
}

body {
    font-size: 18px;
    color: #000;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    margin: 0px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    --webkit-text-size-adjust: 100%;
}

table#topicContent {
    width:800px;
    border:0px;
    font-size: 18px;
    font-family: Helvetica,Arial,sans-serif;
}

table#menu tr td a {
    padding-right: 5px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: Helvetica,Arial,sans-serif;
}

a {
    color: #4E8098;
    color: #1756a9;
    outline: none;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
}

a:hover {
    color: #D74E09;
    color:#2a7ae2;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table#menu tr td .activeLink {
    padding-right: 5px;
    color:#C49799;
    color:#883955;
    color:#FF3E41;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 350;
}

/*text styles*/
/* Emphasis */
e {
    font-weight: bold;
    font-style: italic;
}

fs {
    float: right;
}

.points {
    padding-left: 50px;
}

.ship {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

ul {
    list-style-type: square;
}

ul ul {
    list-style-type: disc;
}

.align-right {
    align: right;
    float: right;
}

meditate::before {
    content : "Diogenes Meditating...";
    font-family: "Syne Mono", "Courier New", Consolas;
    font-size: 14px;
    background: #fafafa;
    color: #f2a;
    padding: 5px;
    margin:10px;
    border-radius: 8px;
    display: block;
}

draft::before {
    content : "draft version - I am still working on it";
    font-family: "Syne Mono", "Courier New", Consolas;
    font-size: 14px;
    background: #efefef;
    color: #f22;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: block;
}

hl {
    color: #33e;
    font-weight: bold;
}

dl {
    margin: 0px;
}

dd {
    font-size: 16px;
}
