@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@font-face {
  font-family: 'myfont';
  src: url('/static/gavali.ttf')  format('truetype');
}

html { overflow-y: scroll; }

div#ContentBody {    
	line-height: 40px;
    margin-top:10px;
}

pre {
    line-height: 18px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-x: auto;
}

div#menubar {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	position: fixed;
	width: 100%;
	background: rgb(255,255,255);
    border-bottom-width: 1px;
	border-bottom-color: #888;
    border-bottom-style: dashed;
    font-family: Padauk, "Helvetica Neue", Helvetica;
}

logo {
	color: #D7263D;
	font-size: 24px;
    font-family: Padauk, "Helvetica Neue", Helvetica;
    font-weight: bold;
}

k3 {
	display: block;
}

h3, k3 {
	font-size: 24px;
	margin-top: 0px;
    margin-bottom: 15px;
    color: #2C365E;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}

table#menu {
	width:1000px;
	border:0px;
	background: rgb(255,255,255);
	height: 50px;
}

div#bodyTopic {
	margin: 0px;
	padding-top: 70px;
}

table {
	border-spacing: 0pt;
}

.head td {
	border-bottom: #888 1px SOLID;
	padding: 2pt;
}

body {
	font-size: 20px;
	color: #000;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	margin: 0px;
	font-family: Padauk, "Helvetica Neue", Helvetica;
}

table#topicContent {
	width:1000px;
	border:0px;
	font-size: 20px;
	font-family: Padauk, "Helvetica Neue", Helvetica;
}

table#menu tr td a {
	padding-right: 5px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-family: Padauk, "Helvetica Neue", Helvetica;
}

a {
	color: #4F51f1;
	outline: none;
}

a:hover {
    color: #63326e;
	text-decoration: underline;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table#menu tr td .activeLink {
	padding-right: 5px;
    color: #D7263D;
    font-weight: bold;
}

/*text styles*/
/* Emphasis */
e {
	font-weight: bold;
	font-style: italic;
}

fs {
    float: right;
}

.points {
    padding-left: 50px;
}

.ship {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}

.align-right {
    align: right;
    float: right;
}

draft::before {
    content : "draft version - I am still working on it";
	font-family: "Syne Mono", "Courier New", Consolas;
	font-size: 14px;
    background: #efefef;
	color: #f22;
	padding-left: 10px;
    border-radius: 8px;
    display: block;
}

hl {
    color: #33e;
    font-weight: bold;
}
