@import url('https://fonts.googleapis.com/css?family="Droid Sans", Arima, "Source Sans Pro"|Libre+Franklin|Noto+Sans+JP|Patrick+Hand|Alegreya+Sans:300|Playfair+Display');

html { overflow-y: scroll; }

div#ContentBody {    
	line-height: 35px;
    margin-top:10px;
}

pre {
    line-height: 20px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-x: auto;
}

div#menubar {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	width: 100%;
	background: rgb(255,255,255);
}

.logo {
	padding: 14px;
}

logo {
	color: #D7263D;
	font-size: 26px;
	font-weight: bold;
	font-family: "Times New Roman";
}

k3 {
	display: block;
}

h3, k3 {
	font-size: 22px;
	margin-top: 0px;
    margin-bottom: 15px;
	font-family: "Times New Roman";
}

h3 {
    color: #2C365E;
}

h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
	font-family: "Times New Roman";
}

table#menu {
	width:1000px;
	border:0px;
	padding-bottom:5px;
	border-bottom:#aae 1px dashed;
	background: rgb(255,255,255);
	height: 70px;
}

div#bodyTopic {
	margin: 0px;
	padding-top: 85px;
}

table {
	border-spacing: 0pt;
}

.head td {
	border-bottom: #888 1px SOLID;
	padding: 2pt;
}

table#topicContent {
	width:1000px;
	border:0px;
	font-size: 18px;
}

body {
	font-family: "Times New Roman";
	font-size: 18px;
	color: #000;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	margin: 0px;
}

table#topicContent tr td {
	font-family: "Times New Roman";
	font-size: 18px;
}

table#menu tr td a {
	padding-right: 5px;
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-family: "Times New Roman";
}

a {
	color: #4F51f1;
	outline: none;
}

a:hover {
    color: #63326e;
	text-decoration: underline;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table#menu tr td .activeLink {
	padding-right: 5px;
    color: #D7263D;
	text-decoration: underline;
}

/*text styles*/
/* Emphasis */
e {
	font-weight: bold;
	font-style: italic;
}

fs {
    float: right;
}

.points {
    padding-left: 50px;
}

.ship {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
